# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/**/.gitkeep
*.jpg
*.jpeg
*.png
!data/samples/**

# Weights / checkpoints
*.pt
*.onnx
*.engine
weights/**/*.pt
weights/**/*.onnx
weights/**/*.engine

# Video Media
*.mp4
*.avi
*.mov
*.mkv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
.env
venv/
.venv/

# Logs
runs/
logs/*
!logs/.gitkeep
*.log

# OS
.DS_Store
